node_modules
.pnp
.pnp.js
.pnpm-store
.turbo
.next
out
coverage
dist
build
*.tsbuildinfo
*.pem
.env
.env.*
!.env.example
.DS_Store
.idea
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
packages/db/generated

# Local dev infra secrets
infra/garage/garage.local.toml
infra/garage/meta
infra/garage/data
